$container-width: 1200px;

$bgGreen: #04e4a2;
$lightgreen: #69f0ae;
$uiGreen: #1de9b6;
$red: #ef5350;
$white: #fff;
$black: #000;
$yellow: #ffb74d;
$lightblue: #e3f2fd;
$lightGray: #fefcf2;
$gray:#636363;
body{
	margin:0;
	padding:0;
}


*{
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;
}

h1,h2,h3,h4,p,ul{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

button{
	border:none;
	outline: none;
	cursor:pointer;
	text-transform: uppercase;
	border-radius: 5px;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/*FONTS*/
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-UltraLight;
    src: url(../fonts/Montserrat-UltraLight.otf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: bold;
    font-style: normal;
}


/*END FONTS*/


.container{
	width:$container-width;
	margin:0 auto;
	padding:0 5px;
	position: relative;
}
/*HEADER*/
.header-wrap{
	width:100%;
	height:22px;
	background-color: $uiGreen;
}

.logo{
	position: absolute;
	top:0;
	left:110px;
	width:210px;
	background-color: $red;
	box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.2);
	z-index:10;
	a{
		display: block;
		padding: 40px 0 30px 30px;
		color:$white;
		text-transform: lowercase;
		font-size:35px;
		font-family: Montserrat-Bold;
	}
}
.contact-us{
	position: absolute;
	top:40px;
	right:5px;
	display: block;
	z-index:10;
	color:$white;
	font-family:Montserrat-SemiBold;
	font-size:16px;
	&:after{
		position:absolute;
		bottom:-5px;
		right:0;
		height: 2px;
		width:95%;
		content: "";
		background-color: $yellow;
	}
}

/*HEADER END*/

/*PROMO*/
.promo-wrap{
	width:100%;
	height: auto;
	background-color: $red;
	position: relative;
}

.stripes{
	position: relative;
	/*STRIPES*/
	&:before{
		position: absolute;
		top:235px;
		left:-520px;
		display: block;
		content: "";
		width:100%;
		height:90px;
		background-color: $uiGreen;
		transform: rotate(35deg) skew(20deg)
	}
	&:after{
		position: absolute;
		top:230px;
		left:-735px;
		display: block;
		content: "";
		width:120%;
		height:90px;
		background-color: $bgGreen;
		transform: rotate(35deg) skew(20deg)
	}
}
.promo-text{
	float:right;
	width:640px;
	color:$white;
	padding:200px 70px 130px;
	h1{
		font-family:Montserrat-Regular;
		margin-bottom: 20px;
		font-size:30px;
		text-transform: uppercase;
	}
	p{
		font-family: Montserrat-UltraLight;
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 300;
	}
	button{
		float: right;
		font-family: Montserrat-Regular;
		font-size:18px;
		color:$white;
		padding:13px 24px;
		background-color: $yellow;
	}
}

.slider-block{
    width: 388px;
    height: 954px;
    overflow: hidden;
    position: absolute;
    top: 140px;
    left: 105px;
}
.phone-slider-wrap{
	position: absolute;
	top:0;
	left:0;
	z-index:10;
}
	.phone-slider{
	    position: absolute;
    	left: 0;
   		top: 116px;
	    width: 600%;
	    z-index: 5;
	    padding-left:28px;
	}
	.slide{
    	float: left;
    	list-style: none;
	}


/*PROMO END*/

/*FEEDBACK*/
.feedback{
	margin-top:20px;
	float:right;
	width:640px;
	padding:0 70px 130px;
	h2{
		color:$red;
		font-family: Montserrat-Light;
		opacity: 0.8;
		margin-bottom: 10px;
		margin-left:15px;
	}
	.name, 
	.email{
		float:left;
	}
	.surname,
	.select{
		float: right;
	}
	.select{
		color:#a9a9a9;
		font-family: Montserrat-Light;
		font-size:16px;
	}
	input,
	textarea,
	select,
	option{
		border:1px solid $lightblue;
		padding:15px 20px;
	}
	input,
	select{
		width:240px;
		margin:5px 0;
	}
	textarea{
		width:100%;
		margin:5px 0;
		min-height: 100px;
		resize: none;
	}
	button{
		float: right;
		font-size: 20px;
		padding:10px 22px;
		font-family: Montserrat-SemiBold;
		color:$white;
		background-color: $uiGreen;
	}
	*[placeholder]{
		font-family: Montserrat-Light;
		font-size:16px;
		color:$gray;
	}


}
/*FEEDBACK END*/

/*FOOTER*/
.footer-wrap{
	background-color: $lightGray;
	color:$gray;
}
.copyright{
	float:left;
	padding: 20px 60px;
	font-family: Montserrat-Light;
}
.mail-block{
	float:right;
	.mail-link{
		display: block;
		color:$gray;
		padding:20px 60px;
		font-size:16px;
		font-family: Montserrat-Light;
		position: relative;
	}
	.mail-link:before{
		position: absolute;
		content: "";
		display: block;
		top:12px;
		left:15px;
		width:40px;
		height:40px;
		background: url('../img/mail-icon.png') no-repeat;
	}

}
/*END FOOTER*/

/*MEDIA*/

@media screen and(max-width:1200px){
	.slider-block{
		left:5px;
	}
	.container{
		width:100%;
	}
	.logo{
		left:5px;
	}
	.promo-text{
		padding:200px 30px 50px;
		width: 590px;
	}
}

@media screen and(max-width:992px){
	.slider-block{
		display: none;
	}
	.stripes:after,
	.stripes:before{
		display:none;
	}
	.promo-text{
		padding:140px 20px 60px;
		float:none;
		width:100%;
		h1{
			text-align: center;
		}
	}
	.feedback{
		width:100%;
		float:none;
		input,
		select{
			width:45%;
		}
	}
}

@media screen and(max-width:768px){
	.feedback{
		padding: 0 20px 130px;
		input,
		select{
			width:100%;
		}
	}
	.copyright,
	.mail-block{
		float:none;
		width:100%;
		margin:0 auto;
	}
	.mail-block .mail-link:before{
		display: none;
	}
}

@media screen and(max-width:480px){
	.feedback{
		padding: 0 10px 130px;
	}	
}